/* Styles for pagination buttons */
.pagination button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Styles for the filter sidebar container */
.filter-sidebar {
  flex: 1;
  background-color: #f0f0f0;
  padding: 10px;
}

/* Styles for the filter select */
.filter-sidebar select {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
}

.nft-card {
  max-width: 265px;
}

.nft-details-image {
  @media (max-width: 600px) {
    width: 100%;
  }
}
